    <!-- Header -->
    <header>
      <nav>
        <div class="logo" (click)="navigateToHomePage()">Cruiz</div>
        <div class="social-links">
          <a (click)="onClickTwitter()" aria-label="Twitter" target="_blank">
            <img src="assets/images/twitter-x.svg" alt="witter"/>
          </a>
          <a (click)="onClickInstagram()" aria-label="Instagram" target="_blank">
            <img src="assets/images/instagram.svg" alt="Instagram" />
          </a>
          <a (click)="onClickTikTok()" aria-label="TikTok" target="_blank">
            <img src="assets/images/tiktok.svg" alt="TikTok" />
          </a>
        </div>
      </nav>
    </header>