<div class="headerContainer">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="Cruiz logo" height="100px" />
  </div>
  <div class="navigation">
    <div class="navigation-link" (click)="onClickHome()">Home</div>
    <div class="navigation-link" (click)="onClickFrequentlyAskedQuestions()">
      FAQs
    </div>
    <div class="navigation-link" (click)="onClickPrivacyPolicy()">
      Privacy Policy
    </div>
    <div class="navigation-link" (click)="onClickTermsAndConditions()">
      Terms & Conditions
    </div>
  </div>
</div>
