.container {
    color: white;
    padding-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    font-size: 40px;
    margin-bottom: 30px;
}

.header-p {
    margin: 30px 80px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
}

li {
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 5px;
    line-height: 25px;
}

li ol {
    margin-top: 0;
}

.header-ol {
    font-size:x-large;
}

.medium-font-size {
    font-size: medium;
}

.imbedded-ul {
    list-style-type: disc;
    margin-top: 5px
}

.section-header {
    font-size: x-large;
    padding-bottom: 20px;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.imbedded-imbedded-ul {
    margin-bottom: 20px;
    list-style-type: "-    ";
}

@media (max-width: 768px) {
  .header-p {
    text-align: center;
    margin: 30px 60px;
  }
}