<div class="footerContainer">
  <div class="download">
    <img
      src="/assets/images/downloadOnTheAppStore.png"
      alt="Download on the app store"
      height="60px"
    />
    <img
      src="/assets/images/getItOnGooglePlay.png"
      alt="Get it on google play"
      height="60px"
    />
  </div>
  <div class="follow-us">
    <div>
      <div class="icons">
        <i class="fa-brands fa-x-twitter fa-lg"></i>
        <i class="fa-brands fa-tiktok fa-lg"></i>
        <i class="fa-brands fa-instagram fa-lg"></i>
      </div>
    </div>
  </div>
</div>
