<app-page-template>
  <div class="homePageStatmentTitle">Easy convenient rental</div>

  <div class="statment">
    Cruiz puts the power of choice, convenience, and community in your hands. We
    will connect you with a wide selection of cars at competitive prices.
  </div>
  <div class="slogan">Drive your way. Drive away.</div>
  <div class="contacts">
    <a class="button" href="mailto:osamah@cruiz.sa">EMAIL NOW</a>
    <a class="button" href="tel:+447763251136">CALL NOW</a>
  </div>
</app-page-template>
