.container {
    color: white;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 40px;
    margin-bottom: 30px;
    align-self: center;
}

h2, p {
    padding-left: 100px;
    padding-right: 100px;
}

h2 {
    padding-bottom: 20px;
}

p {
    padding-bottom: 40px;
}